$blu-blue: #0095da !default;
$blu-blue-dark-1: #004f74 !default;
$blu-blue-dark: #0072a7 !default;
$blu-blue-light: #0eb3ff !default;
$blu-blue-light-1: #41c3ff !default;
$blu-blue-light-2: #74d3ff !default;
$blu-blue-light-3: #a7e3ff !default;
$blu-blue-light-4: #daf3ff !default;
$blu-orange: #f7931e !default;
$blu-orange-dark-1: #ca7007 !default;
$blu-orange-dark: #f37021 !default;
$blu-orange-light: #f8a33f !default;
$blu-orange-light-1: #f9b260 !default;
$blu-orange-light-2: #fcd2a1 !default;
$blu-orange-light-3: #fac280 !default;
$blu-orange-light-4: #fde2c2 !default;
$blu-green: #00b25a !default;
$blu-green-dark-1: #004c26 !default;
$blu-green-dark: #007f40 !default;
$blu-green-light: #00e574 !default;
$blu-green-light-1: #19ff8d !default;
$blu-green-light-2: #4cffa6 !default;
$blu-green-light-3: #7fffc0 !default;
$blu-green-light-4: #b2ffd9 !default;
$blu-red: #ed1c24 !default;
$blu-red-dark-1: #970c11 !default;
$blu-red-dark: #c61017 !default;
$blu-red-light: #ef3b42 !default;
$blu-red-light-1: #f25b61 !default;
$blu-red-light-2: #f47a7f !default;
$blu-red-light-3: #f79a9d !default;
$blu-red-light-4: #f9b9bc !default;
$blu-magenta: #ec008c !default;
$blu-magenta-dark-1: #860050 !default;
$blu-magenta-dark: #b9006e !default;
$blu-magenta-light: #ff0f9d !default;
$blu-magenta-light-1: #ff31ab !default;
$blu-magenta-light-2: #ff53b9 !default;
$blu-magenta-light-3: #ff75c7 !default;
$blu-magenta-light-4: #ff97d5 !default;
$blu-lime: #8bc63f !default;
$blu-lime-dark-1: #557b24 !default;
$blu-lime-dark: #70a230 !default;
$blu-lime-light: #9bce59 !default;
$blu-lime-light-1: #abd673 !default;
$blu-lime-light-2: #badd8e !default;
$blu-lime-light-3: #cae5a8 !default;
$blu-lime-light-4: #daedc2 !default;
$blu-black: #000000 !default;
$blu-white: #ffffff !default;
$blu-gray: #5c5c5c !default;
$blu-gray-dark: #333333 !default;
$blu-gray-light: #858585 !default;
$blu-gray-light-1: #bdbdbd !default;
$blu-gray-light-2: #d6d6d6 !default;
$blu-gray-light-3: #e0e0e0 !default;
$blu-gray-light-4: #f1f1f1 !default;
$blu-black-high: rgba(0, 0, 0, 0.87) !default;
$blu-black-medium: rgba(0, 0, 0, 0.6) !default;
$blu-black-low: rgba(0, 0, 0, 0.38) !default;
$blu-white-high: rgba(255, 255, 255, 0.87) !default;
$blu-white-medium: rgba(255, 255, 255, 0.6) !default;
$blu-white-low: rgba(255, 255, 255, 0.38) !default;
$blu-small-radius: 8px !default;
$blu-medium-radius: 16px !default;
$blu-large-radius: 32px !default;
$blu-shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12) !default;
$blu-variable-columns: true !default;
$blu-column-gap: 0.8rem !default;
$blu-check-size: 18px !default;
$blu-check-push: 10px !default;
$blu-line-height: 2.1rem !default;
$blu-size-xs: 4px;
$blu-size-s: 8px;
$blu-size-m: 16px;
$blu-size-l: 24px;
$blu-size-xl: 32px;
$blu-mobile-s: 321px !default;
$blu-mobile-m: 376px !default;
$blu-mobile-l: 426px !default;
$blu-mobile: 540px !default;
$blu-tablet: 768px !default;
$blu-widescreen-enabled: true !default;
$blu-desktop: 960px;
$blu-widescreen: 1200px;
$blu-font-size-base: 16px;
$blu-font-size-large: 16px * 1.25;
$blu-font-size-medium: 16px * 0.875;
$blu-font-size-small: 16px * 0.75;
$blu-font-size-micro: 16px * 0.625;
$blu-font-family-sans-serif: 'effra', Helvetica, Arial, sans-serif !default;
$blu-font-family-serif: 'Merriweather', Georgia, 'Times New Roman', serif !default;
$blu-font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$blu-font-base: 'effra', Helvetica, Arial, sans-serif !default;
$blu-font-base-2: 'efframedium', Helvetica, Arial, sans-serif !default;
$blu-global-radius: 16px !default;
$blu-radius-xs: 4px;
$blu-radius-s: 8px;
$blu-radius-m: 16px;
$blu-radius-l: 24px;
$blu-radius-xl: 32px;
$blu-border-color: #d6d6d6 !default;
$blu-color-info: #0eb3ff !default;
$blu-color-info-light: #daf3ff !default;
$blu-color-success: #9bce59 !default;
$blu-color-success-light: #daedc2 !default;
$blu-color-warning: #f8a33f !default;
$blu-color-warning-light: #fde2c2 !default;
$blu-color-danger: #f25b61 !default;
$blu-color-danger-light: #f9b9bc !default;
$blu-color-error: #ef3b42 !default;
$blu-color-link: #0095da !default;
$blu-color-primary: #f37021 !default;
$blu-color-secondary: #0095da !default;
$blu-font-color: rgba(0, 0, 0, 0.87) !default;
$blu-font-color-1: rgba(0, 0, 0, 0.6) !default;
$blu-font-color-2: rgba(0, 0, 0, 0.38) !default;
$blu-font-color-invert: rgba(255, 255, 255, 0.87) !default;
$blu-font-color-1-invert: rgba(255, 255, 255, 0.6) !default;
$blu-font-color-2-invert: rgba(255, 255, 255, 0.38) !default;
